/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic');

/* Elements */
body {
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    font-family: 'Chakra Petch';
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.15);
}

body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    /* background: royalblue; */
    background: linear-gradient(0deg, royalblue, cyan);
}

tr:hover {
    cursor: pointer;
}

/* IDs */
#mapDiv {
    height: 80vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#crew-div {
    text-align: center;
    font-size: 48px;
    color: whitesmoke;
}

#submit-button {
    border-color: whitesmoke;
    color: whitesmoke;
    transition: .33s;
    border: 1px solid #fff;
}

#submit-button:hover {
    border: 1px solid rgb(65, 188, 225);
}

#close {
    color: whitesmoke;
}

#search-input {
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    color: rgb(65, 188, 225);
}

#search-input:focus {
    border-color: rgb(65, 188, 225);
    color: #fff;
}

/* Classes */
.nav {
    width: 100%;
    background-color: black;
}

.navbar-brand {
    background-clip: text;
    background: -webkit-linear-gradient(0deg, royalblue, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 600;
}

.table-dark {
    background-color: black;
}

.shadow-lg {
    background-color: black;
}

.modal {
    max-width: 98vw;
}

.modal-header {
    background:rgba(0,0,0,.85);
    
} 

.modal-body {
    background:rgba(0,0,0,.85);
 
}

.crew-img {
    width: 100%;
    border-radius: 4px;
}