body {
    /* min-width: 100vw; */
    /* background-image: url("../images/spacebg.jpg"); */
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}
#mapDiv {
    height: 80vh;
    width: 100%;
    margin-top: 20px;
}
table {
    color: whitesmoke;
}
.nav {
    width: 100%;
    background-color: black;
}
#submit-button {
    border-color: whitesmoke;
    color: whitesmoke;
}
.modal-header {
    background:rgba(0,0,0,.85);
    
} 
.modal-body {
    background:rgba(0,0,0,.85);
 
}
#close {
    color: whitesmoke;
}