/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic');

/* Elements */
body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    font-family: 'Chakra Petch';
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.15);
}

body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    /* background: royalblue; */
    background: linear-gradient(0deg, royalblue, cyan);
}

tr:hover {
    cursor: pointer;
}

th {
    color: rgb(47, 133, 160);
}

/* IDs */
#mapDiv {
    height: 80vh;
    width: 90vw;
    margin: 20px auto;
}

#news-div,
#crew-div {
    margin-top: 80px;
    text-align: center;
    font-size: 48px;
    color: whitesmoke;
}

#more-news-btn,
#submit-button {
    border-color: whitesmoke;
    color: whitesmoke;
    transition: .33s;
    border: 1px solid #fff;
}

#more-news-btn:hover,
#submit-button:hover {
    border: 1px solid rgb(65, 188, 225);
}

#close {
    color: whitesmoke;
}

#search-input {
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    color: rgb(65, 188, 225);
}

#search-input:focus {
    border-color: rgb(65, 188, 225);
    color: #fff;
}

/* Classes */
.container {
    min-width: 92vw;
}
.nav {
    width: 100%;
    background-color: black;
}

.navbar-brand {
    background-clip: text;
    background: -webkit-linear-gradient(0deg, royalblue, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 600;
}

.table-dark {
    background-color: black;
}

.shadow-lg {
    background-color: black;
}

#crew-modal .modal {
    max-width: 98vw;
}

#crew-modal .modal-dialog {
    border: 2px solid rgb(65, 188, 225);
    border-radius: 10px;
}

#crew-modal .modal-header {
    background: rgba(0, 0, 0, 0.85);

}

#crew-modal .modal-body {
    background: rgba(0, 0, 0, .85);

}

.crew-img {
    width: 100%;
    border-radius: 4px;
}

/* NASA Images & lightbox */
.images-title {
    margin: 80px 0 10px 0;
    text-align: center;
    color: #fff;
}

#img-container {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.nasa-img {
    width: 400px;
    height: 200px;
    margin: 4px;
    border: 2px solid transparent;
    object-fit: cover;
}

.nasa-img:hover {
    cursor: pointer;
    border: 2px solid royalblue;
}

#lightbox-modal > .modal-dialog {
    display: flex;
    justify-content: center;
}

#lightbox-img {
    max-height: 90vh;
    max-width: 90vw;
    border: 2px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.85)
}

.pulse {
    animation: anim 5s ease-in-out infinite;
}

@keyframes anim {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .33;
    }

    
}